@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Russo+One&display=swap');
body{
    box-sizing: border-box;
    margin: 0;
}
header{
    position: relative;
}

#overlay{
    /* display: ; */
    align-items: center;
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
}
#overlay h1{
    font-family: russo-one;
}

#overlay .btn a{
    text-decoration: none;
    color: white;
}
#home{
    overflow: hidden;
    position: relative;
    height: 100vh;
    background: black;
    background-image: url(../img/bg-texture-wood4\ 1.png);
}
#greens{
    position: absolute;
    top:0;
    right: 0;
}
#greens1{
    position: absolute;
    left: 0;
    top: 50%;
}
#tomatoes{
    position: absolute;
    top: 40%;
    right: 10%;
}
#greens-bean{
    position: absolute;
    bottom: 0;
    right: 0;
}

#menu {
    /* background-color: violet; */
    margin: auto;
    width: 70%;
    position: relative;
    padding-top: 10%;
}
.circle{
    height: 40vh;
    width: 60vh;
    /* border: 2px solid #fff; */
    border-bottom: 0;
    border-top-left-radius:50% 100%;
    border-top-right-radius:  50% 100%;
    position: relative;
    margin: auto;
    /* width: 60%; */
}
.circle img{
    position: absolute;
    top: 50%;
    left: 50%;
}
.circle img:first-child {
    transform: rotate(-98deg) translateY(-54vh);
}
.circle img:nth-child(2) {
    transform: rotate(-77.5deg) translateY(-47vh);
}

.circle img:nth-child(3) {
    transform: rotate(-53deg) translateY(-46vh);
}
.circle img:nth-child(4) {
    transform: rotate(-30.5deg) translateY(-40vh);
}
.circle img:nth-child(5) {
    transform: rotate(8deg) translateY(-31vh);
}
.circle img:nth-child(6) {
    transform: rotate(35.5deg) translateY(-28vh);
}
.circle img:nth-child(7) {
    transform: rotate(75deg) translateY(-34vh);
}
.circle img:nth-child(8) {
    transform: rotate(108deg) translateY(-54vh);
}
.circle article{
    width: 50%;
    margin: auto;
}


.modal-dialog{
    max-width: 60%;
}
form h3{
    background-color: black !important;
    color: white;
    border-radius: 10px;
    padding: 1%;
}

#about{
    padding: 10% 0 8% 0;
    /* height: 90vh;
     */
    background-image:linear-gradient(rgba(1,1,1,.7),rgba(1,1,1, 0.7)), url(../img/backgroundAbout.png);
}
#about article{
    /* width: 47%; */
    padding: 2%;
    color: white;
    background: black;
    font-size: 1.3em;
}
#about article h1{
    text-decoration: goldenrod underline 4px;
    padding: 2px;
    text-align: start;
    font-weight: 900;
}


#about section{
    background:rgba(170, 166, 166, 0.5);
}
#contact{
    background: black;
    padding: 8%;    
}
footer {
    color: white;
}
footer div{
    padding: 1%;
}





